.tool {
  background-image: url('https://media0.giphy.com/media/jsUIl8W67ohMXGx1V8/giphy.gif');
  background-repeat: repeat;
  background-size: cover;
  height: 80px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

a {
  background-color: #AE69FF;
  text-decoration: white;
  color: white;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}
